HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## Node.js ##
/node/

# Ignorar a pasta node_modules que contém dependências npm
/node_modules/

# Ignorar arquivos de log do npm
npm-debug.log*

# Ignorar caches do npm
/.npm
/.cache

# Ignorar arquivos de lock de dependências (opcional, mas geralmente versionados)
/package-lock.json

