<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="pt-br">
<head>
    <title>Organizações</title>
    <link rel="stylesheet" th:href="@{protected/css/tables-styles.css}">
    <script th:src="@{protected/js/form-utils.js}" defer></script>
    <script th:src="@{protected/js/company-script.js}" defer></script>
</head>
<body>
<main layout:fragment="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                <h1>Lista de Organizações</h1>
                <div class="d-flex justify-content-between align-items-center mb-3 p-2 bg-dark rounded shadow-sm">
                    <!-- Caixa de pesquisa -->
                    <input type="text" id="searchCompanyInput" class="form-control search-bar me-3" placeholder="Pesquisar organização...">

                    <!-- Botão de adicionar -->
                    <button type="button" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#registerCompanyModal">
                        <i class="bx bx-plus"></i> Adicionar
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-secondary table-striped table-hover rounded overflow-hidden">
                        <caption class="sr-only text-white">Lista de colaboradores e suas respectivas ações</caption>
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">
                                <a th:href="@{/companies(page=0, size=${companyPage.size}, sortField='razaoSocial', sortDirection=${reverseSortDirection})}">
                                    Nome
                                    <i th:class="${sortField == 'razaoSocial' and sortDirection == 'asc'} ? 'bx bxs-up-arrow sort-icon' : ''"></i>
                                    <i th:class="${sortField == 'razaoSocial' and sortDirection == 'desc'} ? 'bx bxs-down-arrow sort-icon' : ''"></i>
                                </a>
                            </th>
                            <th scope="col">CNPJ</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody id="companyResultsTableBody" class="table-group-divider">
                            <tr th:each="company : ${companyPage.content}">
                                <td th:text="${company.id}"></td>
                                <td th:text="${company.razaoSocial}"></td>
                                <td th:text="${#strings.substring(company.cnpj, 0, 2) + '.' +
                                   #strings.substring(company.cnpj, 2, 5) + '.' +
                                   #strings.substring(company.cnpj, 5, 8) + '/' +
                                   #strings.substring(company.cnpj, 8, 12) + '-' +
                                   #strings.substring(company.cnpj, 12, 14)}">
                                </td>
                                <td th:text="${company.email}"></td>
                                <td th:if="${#strings.length(company.phoneNumber) == 10}"
                                    th:text="${'(' + #strings.substring(company.phoneNumber, 0, 2) + ') ' +
                                        #strings.substring(company.phoneNumber, 2, 6) + '-' +
                                        #strings.substring(company.phoneNumber, 6)}">
                                </td>
                                <td th:if="${#strings.length(company.phoneNumber) == 11}"
                                    th:text="${'(' + #strings.substring(company.phoneNumber, 0, 2) + ') ' +
                                        #strings.substring(company.phoneNumber, 2, 7) + '-' +
                                        #strings.substring(company.phoneNumber, 7)}">
                                </td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-info" title="Ver Detalhes">
                                        <i class='bx bx-show'></i>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-warning" title="Editar" data-bs-toggle="modal" data-bs-target="#editCompanyModal" onclick="populateEditCompanyForm(this)">
                                        <i class='bx bx-edit'></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" title="Excluir">
                                        <i class='bx bx-trash'></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link" th:href="@{/companies(page=${currentPage - 1}, size=${companyPage.size}, sortField=${sortField}, sortDirection=${sortDirection})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/companies(page=${i}, size=${companyPage.size}, sortField=${sortField}, sortDirection=${sortDirection})}" th:text="${i + 1}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                <a class="page-link" th:href="@{/companies(page=${currentPage + 1}, size=${companyPage.size}, sortField=${sortField}, sortDirection=${sortDirection})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div layout:replace="~{company/modal-register :: modal-register}"></div>
    <div layout:replace="~{company/modal-delete :: modal-delete}"></div>
    <div layout:replace="~{company/modal-edit :: modal-edit}"></div>
</main>
</body>
</html>