<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="pt-br">
<head>
    <title>Organizações</title>
    <link rel="stylesheet" th:href="@{protected/css/employee-styles.css}">
    <script th:src="@{protected/js/company-script.js}" defer></script>
</head>
<body>
<main layout:fragment="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                <h1>Lista de Organizações</h1>
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#registerCompanyModal">
                    Cadastrar Nova Organização
                </button>
                <div class="table-responsive">
                    <table class="table table-secondary table-striped table-hover rounded overflow-hidden">
                        <caption class="sr-only text-white">Lista de colaboradores e suas respectivas ações</caption>
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CNPJ</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr th:each="company : ${companies}">
                            <td th:text="${company.id}"></td>
                            <td th:text="${company.razaoSocial}"></td>
                            <td th:text="${company.cnpj}"></td>
                            <td th:text="${company.email}"></td>
                            <td th:text="${company.phoneNumber}"></td>
                            <td>
                                <a href="#" class="btn btn-sm btn-info" title="Ver Detalhes">
                                    <i class='bx bx-show'></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-warning" title="Editar">
                                    <i class='bx bx-edit'></i>
                                </a>
                                <button type="button" class="btn btn-sm btn-danger" title="Excluir">
                                    <i class='bx bx-trash'></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div layout:replace="~{company/modal-register :: modal-register}"></div>
    <div layout:replace="~{company/modal-delete :: modal-delete}"></div>
</main>
</body>
</html>