.bg-teal { background-color: #16a085; }
.btn-teal { background-color: #16a085; color: #fff; }
.btn-teal:hover { background-color: #12876f; }
.text-teal { color: #16a085; }
.text-teal a:hover { text-decoration: underline; }