.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table {
    margin-bottom: 0;
    white-space: nowrap;
}

.table td .btn {
    padding: 0.25rem 0.5rem; /* Ajuste para manter os botões compactos */
    margin-right: 0.5rem; /* Espaçamento entre botões */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.table td .btn:last-child {
    margin-right: 0;
}

.table td .btn i {
    font-size: 1.2rem; /* Ajuste o tamanho do ícone para se adequar ao design */
    line-height: 1; /* Certifique-se de que a altura da linha seja adequada */
}