<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head>
    <title>Header</title>
</head>
<body>
<header class="header d-flex align-items-center justify-content-between top-0 border border-black border-opacity-75 position-fixed" id="header" layout:fragment="header">
    <div class="header_toggle d-flex align-items-center">
        <i class='bx bx-menu' id="header-toggle"></i>
        <button id="theme-toggle" class="btn btn-dark btn-sm ms-2">
            <i class="bx bx-moon" id="theme-icon"></i>
        </button>
    </div>
    <div class="header_img d-flex justify-content-center">
        <img th:src="@{protected/assets/profile-icon.svg}" alt="">
    </div>
</header>
</body>
</html>