<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head>
    <title>Sidebar</title>
</head>
<body>
<div class="l-navbar border border-black border-opacity-75" id="nav-bar" layout:fragment="navbar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo"> <img th:src="@{protected/assets/icon.svg}" alt="Ícone" class="nav_logo-icon"> <span class="nav_logo-name">GZGestão</span> </a>
            <div class="nav_list">
                <a th:href="@{/home}" class="nav_link"> <i class="bx bx-grid-alt nav_icon"></i> <span class="nav_name">Dashboard</span> </a>
                <a th:href="@{/employees}" class="nav_link" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"> <i class="bx bx-group nav_icon"></i> <span class="nav_name">Colaboradores</span> </a>
                <a th:href="@{/companies}" class="nav_link"> <i class="bx bx-building-house nav_icon"></i> <span class="nav_name">Organizações</span> </a>
                <a href="#" class="nav_link"> <i class="bx bx-wrench nav_icon"></i> <span class="nav_name">Manutenções</span> </a>
                <a href="#" class="nav_link"> <i class="bx bx-list-check nav_icon"></i> <span class="nav_name">Preventivas</span> </a>
            </div>
        </div>

        <form id="logoutForm" th:action="@{/logout}" method="post">
            <button type="submit" class="nav_link">
                <i class="bx bx-log-out nav_icon"></i>
                <span class="nav_name">Sair</span>
            </button>
        </form>

    </nav>
</div>
</body>
</html>