<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head>
    <title>Modal Register</title>
</head>
<body>
<div class="modal fade" id="registerEmployeeModal" tabindex="-1" aria-labelledby="registerEmployeeModalLabel" aria-hidden="true" layout:fragment="modal-register">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="registerEmployeeModalLabel">Cadastrar Colaborador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="registerEmployeeForm">
                    <div class="mb-3">
                        <label for="employeeName" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="employeeName" name="name" placeholder="Ex: João Silva" autocomplete="name" maxlength="100" minlength="2" required>
                    </div>

                    <div class="mb-3">
                        <label for="employeeEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="employeeEmail" name="email" placeholder="Ex: joao.silva@email.com" autocomplete="email" maxlength="100" required>
                    </div>

                    <div class="mb-3">
                        <label for="employeePosition" class="form-label">Cargo</label>
                        <input type="text" class="form-control" id="employeePosition" name="position" placeholder="Ex: Gerente de Projetos" autocomplete="organization-title"  maxlength="50" required>
                    </div>

                    <div class="mb-3">
                        <label for="formattedPhone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="formattedPhone" placeholder="Ex: (11) 91234-5678" autocomplete="tel" pattern="\(\d{2}\) \d{5}-\d{4}" maxlength="15" required>
                        <input type="hidden" id="employeePhone" name="phoneNumber">
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>