<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="pt-br">
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{protected/css/index-styles.css}">
</head>
<body>
<main layout:fragment="content">
    <div class="container m-0">
        <div class="row">
            <div class="col">
                <h1>Lorem Ipsum</h1>

                <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                    <p th:text="${#authorization.expression('hasAuthority(''ADMIN'')')}"></p>
                    <p th:text="${#authorization.expression('hasAuthority(''ADMIN'')')}"></p>
                    <p th:text="${#authorization.getAuthentication().toString()}"></p>
                </div>

                <p>Loddrem ipsum dolor dsdasdsadsasit amet, consectetur adipiscingdsdadsad elit. Mauris rutrum, nisl in scelerisque ullamcorper, sem tortor pharetra dolor, sit amet hendrerit lorem nulla eget ligula. Quisque nec pharetra dolor. Praesent faucibus nisl tortor, eget commodo turpis tempor non. Fusce augue arcu, viverra eget quam in, ultrices eleifend magna. Nullam accumsan, nunc ac vehicula lacinia, felis nunc pharetra erat, at congue est lacus eu augue. Vestibulum posuere porttitor leo, at tincidunt augue auctor nec. Duis mattis nisl urna, eu tempus urna ornare et. Ut nec lorem sapien. Integer eu molestie risus, eu hendrerit lectus. In eget pharetra augue.</p>

                <p>Phasellus sit amet conguedsdsadsadddddddasda magna. In nec laoreet dolor. Donec sit amet tincidunt ante, ut faucibus purus. Nam volutpat leo et rhoncus molestie. Maecenas urna nisi, sagittis non ligula et, tincidunt pharetra nisi. Proin fermentum fermentum velit, et sodales ex consequat eget. Nulla pellentesque dui hendrerit, scelerisque erat vitae, euismod arcu. Aenean eget mattis purus, eu hendrerit lacus. Aliquam vitae tortor commodo, tincidunt orci quis, mollis tellus. Mauris in elementum tellus, eget aliquam nisi. Cras sodales pellentesque eros, in condimentum nisl varius quis. Suspendisse ligula diam, cursus sed augue vitae, iaculis dapibus turpis. Proin odio turpis, tristique pretium pellentesque sit amet, ultrices eu ante.</p>

                <p>Sed nec tempus ipsum. Pellentesque sit amet vulputate velit. Praesent gravida erat eu leo tempor dignissim. Etiam vehicula aliquam efficitur. Curabitur quis pretium ligula, a blandit elit. Donec in aliquet metus. Praesent ut libero felis. Aenean quis mi interdum, dictum odio vitae, fringilla eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus leo ut eros interdum vestibulum. Nunc semper tempor erat et mollis.</p>

                <p>Suspendisse nec sem risus. Donec sollicitudin scelerisque orci at placerat. Mauris at dignissim dui, vitae tincidunt leo. Nam ornare nec arcu et porta. Aenean molestie sem turpis, vel convallis neque placerat nec. Cras consectetur libero eu sem porttitor fringilla. Phasellus orci nibh, feugiat ut felis at, pretium mollis felis.</p>

                <p>Proin leo magna, ullamcorper quis lobortis ut, tempus sit amet libero. In faucibus purus vitae sapien vestibulum, efficitur tincidunt lectus bibendum. Mauris ac mauris a sem porta molestie vel hendrerit justo. Vestibulum tempus eu lacus sed sodales. Cras eu aliquam nisi. Fusce nec malesuada tortor. Morbi ex quam, tristique vitae leo a, pretium vulputate elit. Praesent ut auctor metus. Fusce in ipsum vitae ex elementum tempor. Nullam et scelerisque tortor, quis ultrices erat. Cras sit amet arcu semper lectus rhoncus lacinia. Nullam egestas felis sed pellentesque tempus. Aliquam sit amet accumsan mauris. Praesent diam risus, pellentesque vel quam in, finibus sodales massa. Ut auctor efficitur tortor, in semper sem ultricies ac. Nullam consectetur, justo non finibus dictum, felis elit rutrum mi, ac tincidunt libero est eu dolor.</p>

                <p>Suspendisse dui mauris, vulputate a felis eget, posuere tempor diam. Donec vel metus porta, dapibus diam quis, elementum lorem. Fusce in felis eget odio semper posuere in sed eros. Mauris pulvinar erat nec mi laoreet, gravida lacinia ipsum euismod. Aliquam convallis velit condimentum elit tincidunt commodo in eget sapien. Suspendisse aliquet, lectus sit amet luctus dapibus, lorem dui lobortis nunc, ac viverra lorem ligula nec mi. Curabitur dictum finibus ligula, eget aliquet massa mattis laoreet. Duis in tincidunt libero, eu faucibus risus.</p>

                <p>Donec placerat commodo luctus. Cras finibus cursus dapibus. Aenean non nisl vitae est dapibus rhoncus. Nunc id iaculis ex. Sed nunc mi, lacinia vitae maximus et, maximus a elit. Integer vitae velit eget dui blandit aliquam a quis ipsum. Maecenas a magna pharetra, mollis ex a, fringilla sem. Curabitur at tincidunt ante. Nam fringilla ex eu ligula placerat, sit amet ornare tellus venenatis. Nulla scelerisque finibus dolor vel tincidunt. Vivamus malesuada ut risus sed mollis.</p>

                <p>Fusce eu gravida magna. Morbi at sem volutpat arcu euismod pharetra. Duis non maximus ante. Proin vulputate tempus diam, convallis auctor lorem gravida ut. Mauris eget est quis enim dapibus hendrerit eu vehicula ligula. Suspendisse eget magna id justo tincidunt faucibus. Proin sit amet risus viverra, elementum risus eleifend, porta arcu. Suspendisse molestie lectus a erat eleifend, in viverra tortor lacinia. Aliquam sed bibendum enim. Etiam ut odio consectetur, blandit nunc sit amet, posuere lorem.</p>

                <p>Mauris pellentesque ex nibh. Sed nisi arcu, viverra sit amet scelerisque sit amet, convallis ac tortor. Suspendisse potenti. Morbi nec sapien non nisl interdum scelerisque. Vestibulum sed gravida magna. In scelerisque lacus massa, nec gravida sem blandit quis. Sed eros neque, interdum porta malesuada nec, congue sed eros. Quisque interdum hendrerit leo non blandit. Aenean egestas molestie diam at porta. Sed hendrerit lectus id urna mattis, eu volutpat erat euismod. Pellentesque nec fringilla sem.</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
