<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" th:href="@{protected/assets/icon.svg}" />
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">GZGestão</title>
        <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link rel="stylesheet" th:href="@{protected/css/layout-styles.css}" />
    </head>
    <body id="body-pd">
        <header layout:replace="~{fragments/header :: header}"></header>
        <div layout:replace="~{fragments/navbar :: navbar}"></div>
        <main layout:fragment="content"></main>
        <footer layout:replace="~{fragments/footer :: footer}"></footer>
        <script th:src="@{protected/js/layout-script.js}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>
